<nz-page-header nzBackIcon [nzTitle]="novoRegistro ? 'Novo registro' : 'Editar registro'">
    <nz-page-header-extra>
        <button nz-button (click)="cancelar()"><i nz-icon class="far fa-undo" nzTheme="outline"></i>Cancelar</button>
        <button nz-button nzType="primary" (click)="salvar()"><i nz-icon class="far fa-check"></i>Salvar</button>
    </nz-page-header-extra>
</nz-page-header>


<div class="padding_form">

    
    <form nz-form [formGroup]="form" *ngIf="responsavel">
        <div nz-row>
            <div nz-col nzSm="24">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Ativo">
                        <input type="checkbox" nz-input formControlName="ativo" /> Ativo
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Nome</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzErrorTip="Campo requerido">
                        <input nz-input placeholder="Digite aqui..." formControlName="nome" id="nome" />
                    </nz-form-control>
                </nz-form-item>
            </div>         
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Email</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzErrorTip="E-mail inválido">
                        <input nz-input placeholder="Digite aqui..." formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSm="24">
                <nz-form-label nzFor="nome" [nzNoColon]="true">Cod. Externo</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzErrorTip="Campo requerido">
                        <input nz-input placeholder="Digite aqui..." formControlName="codigoExterno"
                            id="codigoExterno" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>